* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --bg-color: #161819;
    --text-color: white;
}

.nav {
    background-color: var(--bg-color);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: var(--text-color);
}

/* logo desiging  */
.logo {
    font-size: 25px;
    margin: 0 0 0 20px;
    padding: 6px;
}

/* logo-img designing */
.logo-img {
    margin: 9px 0 0 0;
    width: 120px;
}


/* search-box-div desiging  */
.nav-search-bar {
    background-color: rgb(73 74 74);
    width: 45%;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 6px;
}

.search-box {
    color: #dadada;
    background-color: rgb(73 74 74);
    width: 93%;
    height: 91%;
    border-radius: 6px 0 0 6px;
    border: none;
    outline: none;
    padding: 0 0 0 10px;
    font-size: 16px;

}



/* side-menu-items designing */
.side-menu-items {
    width: 14%;
    height: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.sign-in {
    font-size: 19px;
}

.add-to-cart {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.item-number {
    /* border: 2px solid white; */
    padding: 0;
    width: 20px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: 43px;
    background-color: var(--bg-color);
    color: #cec8c8;
    font-size: 18px;
    font-weight: 400;
}

i {
    color: #cec8c8;
    margin: 0 0 0 10px;
}